<h4>
  HPGMG is an HPC benchmarking effort and supercomputing ranking metric based on geometric multigrid methods.
</h4>

<h2>Design Principles</h2>
<dl>
  <dt>Community-driven</dt>
  <dd>Our development process is completely open, empowering the community to guide the design tradeoffs in the benchmark.</dd>
  <dt>Accurate and "ungameable"</dt>
  <dd>
    High performance on HPGMG should be <em>sufficient</em> for high performance on most HPC applications.
    Any hardware characteristic promoted by HPGMG should be <em>necessary</em> for at least one major HPC application.
    We adopt a data-driven approach to quantify this.
  </dd>
  <dt>Long-term durability</dt>
  <dd>
    The benchmark should remain relevant indefinitely.
    Full MG efficiency has been unrivaled for 40 years and is representative of FMM, FFT, AMG, etc.
    We believe it will become increasingly relevant as more applications can no longer afford to use sub-optimal algorithms.
  </dd>
  <dt>Scale-free specification</dt>
  <dd>
    The benchmark specification fixes no intermediate scales between the global problem and individual elements.
    This reduces the number of rules governing valid implmentations on new architectures.
  </dd>
  <dt>Scale-free communication</dt>
  <dd>
    The specification involves data dependencies at all scales (not just "nearest neighbor").
    A multigrid communication graph has bounded degree and logarithmic diameter.
  </dd>
</dl>

<h2>Implementations</h2>
<dl class="dl-horizontal">
  <dt><a href="{{ SITEURL }}/fe/">Finite Element</a></dt>
  <dd>compute- and cache-intensive, vectorizes</dd>
  <dt><a href="{{ SITEURL }}/fv/">Finite Volume</a></dt>
  <dd>memory bandwidth-intensive, boundary condition choice</dd>
</dl>

<h2>Get involved</h2>
<dl>
  <dt><a href="https://bitbucket.org/hpgmg/hpgmg">HPGMG repository</a></dt>
  <dd><a href="https://bitbucket.org/hpgmg/hpgmg">Get the code</a>: <code>git clone https://bitbucket.org/hpgmg/hpgmg</code></dd>
  <dd><a href="https://bitbucket.org/hpgmg/hpgmg/issues/new"><strong>Open an issue</strong></a> to ask questions, make suggestions, etc.</dd>
  <dd>
</dl>
